body{
    color:blue;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}


#cabecera{

    background: red;
    box-shadow: 0px 5px 30px 0px rgb(0, 0, 0);
    color: white;
    margin: 0;
    padding: 0.5em;
    font-size: 20px;
    font-weight: bold;
}

#cabecera img{
    width: 50px;
}
<<<<<<< HEAD
.footer{
    width: 70%;
    margin: 0 auto;
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em 0;;

}
=======

>>>>>>> header
